/* CSS for Login Page */

@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300);
*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: 300;
}
body {
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  font-weight: 300;
}
body ::-webkit-input-placeholder {
  /* WebKit browsers */
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  font-weight: 300;
}
body :-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  opacity: 1;
  font-weight: 300;
}
body ::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  opacity: 1;
  font-weight: 300;
}
body :-ms-input-placeholder {
  /* Internet Explorer 10+ */
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  font-weight: 300;
}

.newBackground {
  background: white;
  height: 100%;
}

.container {
  background: #50a3a2;
  background: -webkit-linear-gradient(top left, #337CC0 0%, #53e3a6 100%);
  background: -moz-linear-gradient(top left, #50a3a2 0%, #337CC0 100%);
  background: -o-linear-gradient(top left, #50a3a2 0%, #53e3a6 100%);
  background: linear-gradient(to bottom right, #4FA2D8 0%, #53e3a6 100%);
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.container.form-success .login h1 {
  transform: translateY(85px);
}
.login {
  max-width: 600px;
  margin: 0 auto;
  padding: 10% 0;
  height: 400px;
  text-align: center;
}
.login h1 {
  font-size: 40px;
  transition-duration: 1s;
  transition-timing-function: ease-in-put;
  font-weight: 200;
}
.errorTextColor {
  color: red;
}
form {
  padding: 20px 0;
  position: relative;
  z-index: 2;
}
form input {
  appearance: none;
  outline: 0;
  border: 1px solid rgba(255, 255, 255, 0.4);
  background-color: rgba(255, 255, 255, 0.2);
  width: 250px;
  border-radius: 3px;
  padding: 10px 15px;
  margin: 0 auto 10px auto;
  display: block;
  text-align: center;
  font-size: 18px;
  color: white;
  transition-duration: 0.25s;
  font-weight: 300;
}
form input:hover {
  background-color: rgba(255, 255, 255, 0.4);
}
form input:focus {
  background-color: white;
  width: 300px;
  color: #50a3a2;
}
form button {
  appearance: none;
  outline: 0;
  background-color: white;
  border: 0;
  padding: 10px 15px;
  color: #53e3a6;
  border-radius: 3px;
  width: 250px;
  cursor: pointer;
  font-size: 18px;
  transition-duration: 0.25s;
}
form button:hover {
  background-color: #f5f7f9;
}

table {
  table-layout: auto !important;
}


.badgeNumber {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  position: absolute;
  top: 12px;
  right: 50px;
  font-weight: 500;
  font-size: 12px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  color: rgb(255, 255, 255);
  background-color: rgb(255, 64, 129);
}

.centered {
  text-align: center;
}

.friends {
  display: inline-block;
}

#comments {
  text-align: left;
  height: 250px;
  overflow: scroll;
  padding-right: 25px;

}

#username {
  /*font-size: 10;*/
  float: right;
}

#comment {
  /*font-size: 12;*/
  /*float-right;*/
  /*background-color: blue;*/
  padding-right: 25px;
}

#stay {
  margin-left:auto;
  margin-right:auto;
  margin-top: auto;
  margin-bottom: auto;
  width:960px;
}
#arrows{
  width: 25px;
  float: left;
  /*background-color: pink;*/
  color: pink;
/*  display: inline;*/
}

#votes{

  float: left;
  line-height: 50px;
  font-size: 25px;
  /*padding-top: 10px;*/
  /*display: inline;*/
}

#vote #arrows #comments {
  display: inline-block;
}
/*annimations go here*/


.checkPointSVG {
  width: 100px;
  display: block;
  margin: 40px auto 0;
}
.path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 0;
}
.path.circle {
  -webkit-animation: dash 0.9s ease-in-out;
  animation: dash 0.9s ease-in-out;
}
.path.line {
  stroke-dashoffset: 1000;
  -webkit-animation: dash 0.9s 0.35s ease-in-out forwards;
  animation: dash 0.9s 0.35s ease-in-out forwards;
}
.path.check {
  stroke-dashoffset: -100;
  -webkit-animation: dash-check 0.9s 0.35s ease-in-out forwards;
  animation: dash-check 0.9s 0.35s ease-in-out forwards;
}
/*p {
  text-align: center;
  margin: 20px 0 60px;
  font-size: 1.25em;
}*/
p.success {
  color: #73AF55;
}
p.error {
  color: #D06079;
}
@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@-webkit-keyframes dash-check {
  0% {
    stroke-dashoffset: -100;
  }
  100% {
    stroke-dashoffset: 900;
  }
}
@keyframes dash-check {
  0% {
    stroke-dashoffset: -100;
  }
  100% {
    stroke-dashoffset: 900;
  }
}

@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
*, *:before, *:after {
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

.chatContainer {
  font: 14px/20px "Lato", Arial, sans-serif;
  margin: 0 auto;
  border-radius: 5px;
}

.chat {
  width: 100%;
  float: left;
  background: #F2F5F8;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #434651;
}
.chat .chat-header {
  padding: 20px;
  border-bottom: 2px solid white;
}
.chat .chat-header img {
  float: left;
}
.chat .chat-header .chat-about {
  float: left;
  padding-left: 10px;
  margin-top: 6px;
}
.chat .chat-header .chat-with {
  font-weight: bold;
  font-size: 16px;
}
.chat .chat-header .chat-num-messages {
  color: #86BB71;
}
.chat .chat-history {
  padding: 30px 30px 20px;
  border-bottom: 2px solid white;
  overflow-y: scroll;
}
.chat .chat-history .message-data {
  margin-bottom: 15px;
}
.chat .chat-history .message-data-time {
  color: #a8aab1;
  padding-left: 6px;
}
.chat .chat-history .message {
  color: white;
  padding: 18px 20px;
  line-height: 26px;
  font-size: 16px;
  border-radius: 7px;
  margin-bottom: 30px;
  width: 90%;
  position: relative;
}
.chat .chat-history .message:after {
  bottom: 100%;
  left: 7%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #86BB71;
  border-width: 10px;
  margin-left: -10px;
}
.chat .chat-history .my-message {
  background: #86BB71;
}
.chat .chat-history .other-message {
  background: #94C2ED;
}
.chat .chat-history .other-message:after {
  border-bottom-color: #94C2ED;
  left: 93%;
}
.chat .chat-message {
  padding: 30px;
}
.chat .chat-message textarea {
  width: 100%;
  border: none;
  padding: 10px 20px;
  font: 14px/22px "Lato", Arial, sans-serif;
  margin-bottom: 10px;
  border-radius: 5px;
  resize: none;
}
.chat .chat-message .fa-file-o, .chat .chat-message .fa-file-image-o {
  font-size: 16px;
  color: gray;
  cursor: pointer;
}
.chat .chat-message button {
  float: right;
  color: #94C2ED;
  font-size: 16px;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  font-weight: bold;
  background: #F2F5F8;
}
.chat .chat-message button:hover {
  color: #75b1e8;
}

.online, .offline, .me {
  margin-right: 3px;
  font-size: 10px;
}

.online {
  color: #86BB71;
}

.offline {
  color: #E38968;
}

.me {
  color: #94C2ED;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.float-right {
  float: right;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.ellipse {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.profileImg{
  margin:10px;
  width:200px;
  height:200px;
  border-radius:5%;
  overflow:hidden;
  text-align: center;
  align-items: center;
}
.profileTabs{
  margin:10px;
  display: flex;
  flex-direction: row;
  align-items: left;
  height: 60%;
}
.userInfo{
  margin:10px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  height: 60%;
}
.userStats{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.userDetails{
  margin:5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.userNumbers{
  color: blue;
  font-size: 28px;
  font-weight: bold;
}
.userSettings{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
  max-width: 600px;
  height: 400px;
  text-align: center;
}
.settingsInput{
  margin-top: 20px;
  width: 300px;
  height: 30px;
  color: black;
}
.runButton{
  display: flex;
  flex-direction: column;
  overflow:hidden;
  align-items: center;
}
.profileTabs{
  margin:10px;
  display: flex;
  flex-direction: row;
  align-items: left;
  height: 60%;
}
.userInfo{
  margin:10px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  height: 60%;
}
.userStats{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.userCommentAvatar{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.userDetails{
  margin:5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.userNumbers{
  color: blue;
  font-size: 28px;
  font-weight: bold;
}
.userSettings{
  display: flex;
  flex-direction: column;
  align-items: center;
}
/*end*//*end*//*end*//*end*//*end*//*end*//*end*//*end*//*end*//*end*/
/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 */

code[class*="language-"],
pre[class*="language-"] {
  color: black;
  background: none;
  text-shadow: 0 1px white;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
  text-shadow: none;
  background: #b3d4fc;
}

pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection {
  text-shadow: none;
  background: #b3d4fc;
}

@media print {
  code[class*="language-"],
  pre[class*="language-"] {
    text-shadow: none;
  }
}

/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  margin: .5em 0;
  overflow: auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #f5f2f0;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: .1em;
  border-radius: .3em;
  white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: slategray;
}

.token.punctuation {
  color: #999;
}

.namespace {
  opacity: .7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  color: #905;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #690;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #a67f59;
  background: hsla(0, 0%, 100%, .5);
}

.token.atrule,
.token.attr-value,
.token.keyword {
  color: #9933CC;
}

.token.function {
  color: #3333CC;
}

.token.regex,
.token.important,
.token.variable {
  color: #e90;
}

.token.important,
.token.bold {
  font-weight: bold;
}
.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}
.showContent {
  border: none;
  outline: none;
  background: none;
  margin: 5px;
  bottom: 5px;
  left: 5px;
}
.showContent:hover {
  color: #69F0AE;
  cursor: pointer;
}
.algorithmVote{
  cursor: pointer;
  border-radius: 50%;
  overflow: hidden;
  margin: 4px;
}
.algorithmVote:hover{
 color: #69F0AE; 
 background-color: #69F0AE;
}
